@charset "UTF-8";
/* CSS Document */


body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background-image:url(images/bkg-tile.jpg);
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
.FourColFixHdr #container { 
	width: 1020px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background:#FFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 0px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
	font-family:Verdana, Geneva, sans-serif;
	font-size: 11px;
	min-height: 1000px;
	position: relative;
} 
.FourColFixHdr #content { 
	padding-bottom: 125px;
} 

a:link {
	color: #060;
}

a:visited {
color: #060;
}

a:hover {
	text-decoration:none;
}

a:active {
	color: #060;
}
	

h3 {
	font-family:Verdana, Geneva, sans-serif; font-size:12px;
}

.FourColFixHdr #header { 
text-align: center;
	padding: 0 0px 0 0px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 
.FourColFixHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}


.FourColFixHdr #newsitem{
	font:Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:13px;
	color:#666;
}

.FourColFixHdr #itemheading{
	font:Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:13px;
}

.FourColFixHdr #more{
	font:Verdana, Geneva, sans-serif;
	font-size:8px;
	color:#060;
	line-height:14px;
	border-bottom-style:solid;
	border-bottom-color:#E5E5E5;
	border-bottom-width:thin;
	text-align: right;
	margin-bottom: 5px;
	
}

.FourColFixHdr #column1 {
	float: left; /* since this element is floated, a width must be given */
	width: 225px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #FFF; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 5px 10px 5px 20px; /* padding keeps the content of the div away from the edges */
	height:450px;
	overflow:hidden;
}
.FourColFixHdr #column1a {
	float: left; /* since this element is floated, a width must be given */
	width: 320px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #FFF; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 5px 10px 5px 20px; /* padding keeps the content of the div away from the edges */
	height:550px;
	overflow:hidden;
}
.FourColFixHdr #column2 {;
	float: left; /* since this element is floated, a width must be given */
	width: 225px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #FFF; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 5px 10px 5px 20px; /* padding keeps the content of the div away from the edges */
	height:450px;
	overflow:hidden;
}

.FourColFixHdr #column3 {
	float: left; /* since this element is floated, a width must be given */
	width: 225px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #FFF; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 5px 10px 5px 20px; /* padding keeps the content of the div away from the edges */
	height:450px;
	overflow:hidden;
}
.FourColFixHdr #column3a {
	float: left; /* since this element is floated, a width must be given */
	width: 275px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #FFF; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 5px 5px 5px 20px; /* padding keeps the content of the div away from the edges */
	height:450px;
	overflow:hidden;
}
.FourColFixHdr #column4 {
	float: left; /* since this element is floated, a width must be given */
	width: 225px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #FFF; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 5px 10px 5px 20px; /* padding keeps the content of the div away from the edges */
	height:450px;
	overflow:hidden;
}
.FourColFixHdr #column4a {
	 /* since this element is floated, a width must be given */
	 /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #FFF; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 5px 10px 5px 20px; /* padding keeps the content of the div away from the edges */
	height:450px;
	overflow:hidden;
}
.FourColFixHdr #footer { 
	padding: 10px 0;
	background:#DDDDDD;
	width: 100%;
	position:absolute;
	bottom: 0px;
	margin-bottom: 0px;
	height: 35px;
} 
.FourColFixHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 0 1em; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	font:Verdana, Geneva, sans-serif; font-size:9px;
	text-align: center;
	}
	
.FourColFixHdr #shortcut{ /* adjusts the list of sites */
	position:absolute;
	width:700px;
	left:270px;
	top:10px;
	height:145px;
	padding: 0 1em;
	overflow: hidden;
	border:1px solid #DBDBDB;
}	
.FourColFixHdr #shortcut .mod-field{
	padding:0;
	min-height:10px;
	font:Verdana, Geneva, sans-serif; 
	font-size:10px;
}
.FourColFixHdr #shortcut .mod-field div{
	float: left;
	margin-right: 100px;
}
.FourColFixHdr #shortcut .mod-field label{
	color:#000000;
	font:Verdana, Geneva, sans-serif; 
	font-size:10px !important;
	padding: 0;
	margin: 0;
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.advertiserText{
	color:#EC0000;font-size:1.5em;font-weight:bold;
}
.advertiserLabel{
	color:#777777;font-size:1.5em;font-weight:bold;
}
.moreAdvertiser a:active,.moreAdvertiser a:link,.moreAdvertiser a:visited{
	color:#EC0000;font-weight:bold;padding-right:20px;
}
.mod-job-details{float:left;width:100%;}
select[disabled=""],select[disabled="disabled"]{background-color:pink;}

/***** contact form *****/

#column1a form {
			width:300px;
			margin: 20px auto;
		}

#column1a p {
			line-height: 1.6;
		}

#column1a input, #column1a textarea {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			background-color:#fff;
			border:1px solid #ccc;
/*
			font-size:20px;
			margin-bottom:16px;
			margin-top:8px;
*/
			width:300px;
			min-height:30px;
			display:block;			
			
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
		
		#column1a textarea {
				min-height:200px;
		}

		#column1a input:focus, #column1a textarea:focus {
			-webkit-box-shadow:0 0 25px #ccc;
			-moz-box-shadow:0 0 25px #ccc;
			box-shadow:0 0 25px #ccc;
			
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			transform: scale(1.05);
		}
		
		/* The interesting bit */
		
		#column1a input:not(:focus), #column1a textarea:not(:focus) {
			opacity:0.5;
		}
		
		#column1a input:required, #column1a textarea:required {
			background:url("images/asterisk_orange.png") no-repeat 280px 7px;						
		}

		#column1a input:valid, #column1a textarea:valid {
			background:url("images/tick.png") no-repeat 280px 5px;			
		}		

		#column1a input:focus:invalid, #column1a textarea:focus:invalid {
			background:url("images/cancel.png") no-repeat 280px 7px;						
		}

		#column1a input[type=submit] {
			padding:10px;
			background:none;
			opacity:1.0;
		}	