article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
.ie7 audio, .ie7 canvas, .ie7 video {
    display: inline;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
}
html, button, input, select, textarea {
    color: #1A1A1A;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
}
body {
    background: url("/content/images/bg-noise_pattern.png") repeat scroll 0 0 #404040;
    margin: 0;
}
a {
    text-decoration: none;
}
a:active, a:link, a:visited {
    color: #EC0000;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0 none;
}
a:hover {
    text-decoration: underline;
}
a.inpageLinkDashed {
    border-bottom-style: dotted;
    display: inline;
}
h1, #PostCodeSearch h2, .joblisting-emailfriend h2 {
    color: #EC0000;
    font-size: 18px;
    font-weight: normal;
    margin: 18px 0;
}
h2, h3 {
    color: #EC0000;
    font-size: 13px;
    font-weight: bold;
    margin: 18px 0;
}
h3 {
    margin: 9px 0;
}
learning h3 {
    color: #50B848;
}
h4 {
    font-size: 1em;
    margin: 9px 0;
}
h5 {
    font-size: 0.83em;
    margin: 9px 0;
}
h6 {
    font-size: 0.75em;
    margin: 9px 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}
p, pre {
    margin: 9px 0;
}
pre, code, kbd, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
.ie6 pre, .ie6 code, .ie6 kbd, .ie6 samp {
    font-family: 'courier new',monospace;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    color: #666666;
    font-size: 10px;
    font-weight: normal;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
dl, menu, ol, ul {
    margin: 9px 0;
}
dd {
    margin: 0;
}
menu, ol, ul {
    list-style: none outside none;
    padding: 0;
}
nav ul, nav ol {
    list-style: none outside none;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
legend {
    border: 0 none;
    padding: 0;
    white-space: normal;
}
.ie7 legend {
    margin-left: -7px;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
.ie7 button, .ie7 input, .ie7 select, .ie7 textarea {
    vertical-align: middle;
}
button, input {
    line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
.ie7 button, .ie7 input[type="button"], .ie7 input[type="reset"], .ie7 input[type="submit"] {
    overflow: visible;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}
.ie7 input[type="checkbox"], .ie7 input[type="radio"] {
    height: 13px;
    width: 13px;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.hasPlaceholder {
    color: #777777;
    font-size: 12px;
}
body.onsite {
    background: none repeat scroll 0 0 #FFFFFF;
}
body.body-joblisting-printjob {
    background: none repeat scroll 0 0 #FFFFFF;
}
.grid_1 {
    width: 62px;
}
.grid_2 {
    width: 142px;
}
.grid_3 {
    width: 222px;
}
.grid_4 {
    width: 302px;
}
.grid_5 {
    width: 382px;
}
.grid_6 {
    width: 462px;
}
.grid_7 {
    width: 542px;
}
.grid_8 {
    width: 622px;
}
.grid_9 {
    width: 702px;
}
.grid_10 {
    width: 782px;
}
.grid_11 {
    width: 862px;
}
.grid_12 {
    width: 942px;
}
.l-column, .l-column-overflow {
    float: left;
    margin-left: 18px;
    overflow: hidden;
}
.l-column-overflow {
    overflow: visible;
}
.l-column:first-child {
    margin-left: 0;
}
.l-row {
    margin: 0 auto;
    max-width: 942px;
    min-width: 942px;
    padding: 0 32px;
    width: 100%;
}
.l-row .l-row {
    display: inline-block;
    margin-left: -32px;
}
.ie7 .l-row .l-row {
    display: inline;
}
.l-outer-row {
    margin: 0 auto 16px;
    max-width: 1024px;
    min-width: 1024px;
}
.l-inner-row {
    max-width: 988px;
    min-width: 942px;
    padding: 0 18px;
}
.l-clearfix:before, .l-clearfix:after {
    content: "";
    display: table;
}
.l-clearfix:after {
    clear: both;
}
.l-clearfix {
}
.mod-navigation {
    padding: 3px 0 0;
}
.mod-navigation ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.ie7 .mod-navigation ul {
    display: inline;
}
.mod-navigation li {
    position: relative;
}
.mod-navigation .column li {
    margin: 8px 0;
}
.mod-switch {
    border: 2px solid #B5B5B5;
    border-radius: 3px 3px 3px 3px;
    float: right;
    font-weight: bold;
}
.ie7 .mod-switch {
    margin-top: -28px;
}
.mod-switch a, .mod-switch span {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 3px 10px;
}
.ie7 .mod-switch a, .ie7 .mod-switch span {
    display: inline;
}
.mod-switch a:hover {
    background: none repeat scroll 0 0 #E0E0E0;
    color: #000000;
}
.mod-banner {
    background-color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 23px;
    padding-top: 27px;
    position: relative;
}
.mod-logo {
    background: url("") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 63px;
    margin: 0 0 0 23px;
    overflow: hidden;
    text-indent: -999em;
    width: 159px;
}
.mod-caption {
    display: block;
    margin-top: -11px;
    position: absolute;
    right: 40px;
    top: 50%;
}
.mod-section {
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 18px;
    padding-bottom: 9px;
    padding-top: 18px;
}
.jobsearch-index.mod-section {
    padding-top: 13px;
}
.home-index.mod-section {
    border: 0 none;
}
.mod-promo {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #D5D5D5;
    padding-bottom: 0;
    padding-top: 0;
}
.mod-promo dd {
    max-height: 115px;
    padding-right: 0;
    vertical-align: top;
}
.mod-promo .mod-promo-center {
    margin-right: -11px;
    padding-left: 11px;
}
.mod-promo .mod-promo-right {
    margin-right: -10px;
    padding-left: 10px;
}
.mod-promo div {
    height: 79px;
    padding: 36px 0 0 20px;
    width: 247px;
}
.mod-promo p {
    margin-top: 0;
}
.mod-promo .mod-promo-separator {
    background: none repeat scroll 0 0 #E4E4E4;
    display: block;
    height: 95px;
    margin: 10px -2px;
    width: 1px;
}
.mod-search-form {
    background: none repeat scroll 0 0 #0D3880;
    border: 4px solid #DBDBDB;
    border-radius: 12px 12px 12px 12px;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 14px;
    overflow: hidden;
    padding-bottom: 14px;
    padding-top: 22px;
}
.home-index .mod-search-form {
    margin-left: -36px !important;
}
.onsite.mod-search-form {
    margin-left: -215px !important;
    width: 302px !important;
}
.onsite.mod-search-form .column {
    margin-left: 0;
}
.row .mod-search-form.row {
    margin-left: -36px;
}
.mod-search-form.is-expanded #salaryDisabled {
    margin-bottom: -16px;
}
.mod-field {
    min-height: 53px;
    padding: 0 0 11px;
    position: relative;
}
.mod-field > .mod-field {
    display: inline-block;
    padding: 0;
    width: 42.484%;
}
.ie7 .mod-field > .mod-field {
    display: inline;
}

.mod-field label {
    color: #FFFFFF;
    display: block;
    margin: 0 0 6px;
}
.mod-field label span {
    display: none;
}
.mod-field label a {
    float: right;
}
.ie7 .mod-field label a {
    margin-top: -15px;
}
.mod-field input[type="search"], .mod-field select, .ie7 .grid_4 .mod-field input {
    -moz-box-sizing: border-box;
    border: 0 none;
    font-size: 12px;
    line-height: 1;
    padding: 5px 3px;
    width: 100%;
}
.ie7 .grid_4 .mod-field input {
    padding: 3px 3px 2px;
}
.mod-field input[type="search"] {
    padding-bottom: 7px;
}
.mod-field + span {
    padding: 0 6px;
}
.ie7 .mod-field + span {
    display: inline;
    padding: 0 7px 0 18px;
}
.mod-search-form a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
}
.ie7 .mod-search-form a {
    display: inline;
}
.mod-salary-search {
    max-height: 53px;
}
.mod-field .mod-area-input {
    font-size: 11px;
    padding-left: 2px;
}
.ie7 .mod-field .mod-area-input {
    padding-left: 0;
    padding-top: 4px;
}
.mod-field .mod-area-input input {
    position: relative;
    top: 2px;
}
.ie7 .mod-field .mod-area-input input {
    top: 0;
    width: auto;
}
.is-expanded .mod-field.mod-area select[multiple] {
    max-height: 75px;
    min-height: 75px;
}
.mod-submit-search {
    float: left;
    width: 100%;
    text-align:center;
}
.ie7 .mod-submit-search {
    margin-top: -20px;
}
.mod-submit-search p {
    padding-top: 10px;
}
.mod-submit-search i {
    margin-top: 2px;
}
.mod-multiselect {
    font-style: italic;
    left: 197px;
    position: relative;
    top: -62px;
}
.ie7 .mod-options-trigger {
    margin-left: 5px;
}
.mod-mini-search {
    -moz-box-sizing: border-box;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 18px 10px 15px;
}
.mod-mini-search p {
    font-size: 14px;
    margin: 0;
}
.mod-mini-search select {
    margin: 8px 0;
    width: 100%;
}
.btn{
	font-weight:700;
	color:#000!important;
	margin:0;
	text-shadow:1px -1px 0 rgba(0,0,30,0.15);
	border:5px solid #e5e5e5;
	display:inline;zoom:1;
	background:#EC0000;
	/**
	background:url(images/btn-grey-gradient.png);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(51%,#eaeaea),color-stop(52%,#d1d1d1),color-stop(100%,#bbb));
	background:-webkit-linear-gradient(top,#f4f4f4 0,#eaeaea 51%,#d1d1d1 52%,#bbb 100%);
	background:-moz-linear-gradient(top,#f4f4f4 0,#eaeaea 51%,#d1d1d1 52%,#bbb 100%);
	background:-ms-linear-gradient(top,#f4f4f4 0,#eaeaea 51%,#d1d1d1 52%,#bbb 100%);
	background:-o-linear-gradient(top,#f4f4f4 0,#eaeaea 51%,#d1d1d1 52%,#bbb 100%);
	background:linear-gradient(top,#f4f4f4 0,#eaeaea 51%,#d1d1d1 52%,#bbb 100%)
	**/
}
.btn:hover{background:#EC0000}
.mod-btn-advertiser {
    position: relative;
}
.ie7 .mod-btn-advertiser {
    margin-top: -38px;
}
.mod-btn-advertiser span {
    background: url("images/btn-advertiser-callout.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-weight: 700;
    height: 55px;
    left: -94px;
    padding: 8px 13px 8px 8px;
    position: absolute;
    top: -8px;
    width: 86px;
}
.mod-btn-advertiser span:hover {
    background-position: 0 0;
}
.ico {
    background: url("images/icons_main_sprite.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    line-height: 0;
    vertical-align: top;
}
.ie7 .ico {
    display: inline;
}
.ico-14 {
    height: 14px;
    width: 14px;
}
.ico-18 {
    height: 18px;
    width: 18px;
}
.ico-23 {
    height: 23px;
    width: 23px;
}
.ico-31 {
    height: 31px;
    width: 31px;
}
.ico-favourite {
    background-position: -99px 0;
}
.ico-save {
    background-position: -199px 0;
}
.ico-saved {
    background-position: -926px 0;
}
.ico-email {
    background-position: -299px 0;
}
.ico-print {
    background-position: -496px 0;
    width: 26px;
}
.ico-notes {
    background-position: -398px 0;
}
.ico-magnify {
    background-position: -593px 3px;
}
.ico-subarrow {
    background-position: 1px -75px;
}
.ico-uparrow {
    background-position: -131px -72px;
}
.ico-search-magnify {
    background-position: -113px -75px;
}
.ico-shortlist {
    background-position: -22px -77px;
}
.ico-shortlisted {
    background-position: -51px -77px;
}
.ico-applied {
    background-position: -870px 1px;
}
.ico-info {
    background-position: -79px -77px;
}
.ico-facebook {
    background-position: 0 -33px;
}
.ico-twitter {
    background-position: -46px -33px;
}
.ico-googleplus {
    background-position: -92px -33px;
}
.ico-shareit {
    background-position: -136px -33px;
}
.mod-arrow {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0) #111111 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 4px;
    display: inline-block;
    height: 0;
    width: 0;
}
.ie7 .mod-arrow {
    display: inline;
    margin-bottom: 4px;
}
.mod-arrow .mod-arrow-inner {
    border-right-color: #FFFFFF;
    border-width: 5px;
    left: -3px;
    position: absolute;
    top: -5px;
}
.mod-footer-navigation {
    padding: 27px 0 18px;
    text-align: center;
}
.mod-footer-navigation ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}
.mod-footer-navigation li {
    color: #FFFFFF;
    font-size: 12px;
    list-style-type: none;
}
.mod-callout {
    background: none repeat scroll 0 0 #EC0000;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    padding-left: 9px;
    position: relative;
}
.mod-help-bubble {
    border: 1px solid #DADADA;
    border-radius: 4px 4px 4px 4px;
    color: #777777;
    font-size: 10px;
    line-height: 12px;
    margin-left: 3px;
    padding: 5px;
    position: relative;
}
.mod-help-bubble strong {
    font-size: 10px;
}
.mod-searchresult-entry {
    line-height: 18px;
    padding: 0;
    position: relative;
}
.mod-searchresult-entry dl {
    border-bottom: 1px solid #D5D5D5;
    margin: 0 1px;
}
.mod-searchresult-entry h2 {
    margin: 0;
    max-width: 375px;
    overflow: hidden;
}
.mod-searchresult-entry h2 a {
    color: #EC0000;
    font-size: 16px;
    line-height: 17px;
}
.mod-searchresult-entry em {
    color: #111111;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}
.mod-searchresult-entry p {
    max-width: 375px;
    overflow: hidden;
}
.mod-searchresult-entry .mod-classifiers {
    color: #7D7D7D;
    font-size: 11px;
}
.mod-searchresult-entry small {
    color: #F00A81;
    display: block;
    font-size: 11px;
    text-align: right;
}
.mod-searchresult-entry dd {
    border-right: 1px solid #F0F0F0;
    display: block;
    float: left;
    padding: 11px 9px 53px;
    position: relative;
    width: 362px;
}
.mod-searchresult-entry dd div span:first-child {
    display: none;
}
.mod-searchresult-entry dd + dd {
    border-left: 1px solid #F0F0F0;
    border-right: 0 none;
    margin-left: -1px;
    padding-bottom: 14px;
    padding-top: 14px;
    width: 141px;
}
.mod-searchresult-entry dd + dd span {
    display: block;
    max-width: 141px;
    overflow: hidden;
	font-size: 9px;
}
.mod-searchresult-entry ul {
    margin-top: 9px;
}
.mod-searchresult-entry li {
    list-style: disc outside none;
    margin-left: 13px;
}
.mod-searchresult-entry .highlight {
    background-color: #FFFBB6;
    font-weight: bold;
}
.mod-shortlist {
    display: block;
    margin-left: -9px;
    margin-right: -9px;
    padding: 9px;
    width: 362px;
}
.mod-searchresult-entry .mod-shortlist {
    color: #111111;
    font-size: 12px;
}
.mod-shortlist i {
    margin-right: 3px;
}
.mod-shortlist:hover {
    background-color: #F4F4F4;
    text-decoration: none;
}
.mod-standout-logo {
    bottom: 9px;
    padding-bottom: 70px;
    position: absolute;
    right: 9px;
    width: 140px;
}
.mod-skyscraper-banner {
    padding-top: 9px;
}
.mod-leaderboard-banner {
    margin-bottom: 0;
    text-align: center;
}
.mod-scomm-promo {
    display: block;
    margin-top: 45px;
    padding-top: 50px;
}
.mod-pagination {
    background: none repeat scroll 0 center transparent;
    font-size: 13px;
    position: static;
}
.mod-pagination dl {
    background: none repeat scroll 0 center transparent;
    float: right;
}
.mod-pagination dt {
    color: #336600;
}
.mod-pagination dt, .mod-pagination dd {
    float: left;
    padding: 4px 5px 0;
}
.mod-pagination .currentPage {
    padding-bottom: 4px;
}
.mod-pagination .currentPage, .mod-pagination .currentPage span {
    background-color: #0066CC;
    background-image: none;
    color: #FFFFFF;
    height: auto;
}
.mod-pagination .currentPage span {
    font-weight: bold;
    padding: 4px 4px 0;
}
.mod-pagination dd span {
    height: 18px;
}
.mod-pagination dd.nextPage span {
    background-image: url("/content/images/icons/icons_arrows_bullets.png");
    background-position: 1px -1333px;
    background-repeat: no-repeat;
    height: 16px;
    margin: -3px -12px 0 5px;
    padding-right: 3px;
}
.ie7 .mod-pagination dd.nextPage span {
    background-position: 4px -1330px;
}
.mod-pagination dd a:hover {
    font-weight: normal;
	text-decoration: none;
}
.mod-job-details strong {
    font-size: 16px;
}
.mod-job-details ul {
    margin-bottom: 4px;
    margin-top: 5px;
    padding-left: 1px;
}
.mod-job-details label {
    color: #777777;
    font-size: 13px;
    line-height: 27px;
    margin-right: 0;
    text-align: left;
    width: 80px;
}
.mod-job-details div {
    display: inline-block;	
    margin-top: 7px;
    vertical-align: top;
}
.ie7 .mod-job-details div {
    display: inline;
}
.mod-addnotes {
    background-color: #F5F5F5;
    border: 0 none;
    border-radius: 0 4px 4px 0;
    display: none;
    font-size: 12px;
    padding-left: 9px;
    position: absolute;
    right: 0;
    top: 0;
    width: 229px;
}
.mod-addnotes textarea {
    font-size: 12px;
    margin-bottom: 9px;
    overflow: hidden;
    padding: 0;
    resize: none;
    width: 219px;
}
.mod-LMISS {
    background-color: #FFFFFF;
    border: 1px solid #57BA4F;
    border-radius: 5px 5px 5px 5px;
    padding: 9px 7px 6px 14px;
    position: relative;
}
.mod-LMISS strong {
    color: #F00A81;
    font-size: 14px;
    font-weight: normal;
}
.mod-LMISS ul {
    float: left;
    margin-bottom: 7px;
    padding-left: 20px;
    width: 239px;
}
.mod-LMISS li, .mod-LMISS span a {
    background-image: url("/content/images/other/skl_lmiss_sprite.png") !important;
    background-position: left top;
    background-repeat: no-repeat !important;
}
.mod-LMISS li {
    background-position: 0 -37px;
    margin: 7px 0 9px -20px;
    padding-left: 20px;
}
.mod-LMISS img {
    float: left;
    margin-left: -2px;
    margin-right: 5px;
}
.mod-LMISS p {
    float: left;
    font-size: 11px;
    margin: 7px 1px 0 5px;
    width: 206px;
}
.mod-LMISS select {
    float: left;
    font-size: 11px;
    margin: 4px 0 0 9px;
    width: 128px;
}
.mod-LMISS span {
    float: left;
    margin: -1px 0 1px 3px;
}
.mod-LMISS span a {
    display: block;
    height: 30px;
    width: 43px;
}
.mod-international-partners {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 14px 0;
    top: 0;
}
.mod-international-partners:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid;
    content: "";
    height: 0;
    left: 37%;
    position: absolute;
    top: 0;
    width: 0;
}
.mod-field label {
    font-size: 16px !important;
}
.mod-share-links {
    margin: 18px auto !important;
}
.mod-share-links a {
    background: url("/content/images/icons/icons_share-links.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    vertical-align: top;
}
.mod-share-links .mod-bookmark {
    background: none repeat scroll 0 center transparent;
}
.mod-bookmark span {
    background: none repeat scroll 0 0 #AAAAAA;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    display: block;
    height: 13px;
    line-height: 14px;
    margin: 1px 0 0 -18px;
    position: absolute;
    text-align: center;
    width: 13px;
}
.mod-share-links .mod-share-facebook {
    height: 17px;
    margin-left: 20px;
    overflow: hidden;
    text-indent: -1000em;
    width: 57px;
}
.mod-share-links .mod-share-twitter {
    background-position: 0 -27px;
    height: 22px;
    margin: -3px 0 0 15px;
    overflow: hidden;
    text-indent: -1000em;
    width: 60px;
}
.state-arrow-right {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #111111;
    margin-left: 3px;
    margin-right: -2px;
}
.state-arrow-up {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #111111;
    margin-bottom: 2px;
}
.state-arrow-down {
    border-color: #111111 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    margin-bottom: -2px;
}
.state-arrow-help-bubble {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0) #E5E5E5 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 6px;
    display: block;
    left: -13px;
    position: absolute;
    top: 16px;
}
.state-basic-horizontal li {
    margin-bottom: 14px;
}
.state-basic-horizontal span {
    margin-left: 7px;
    padding-left: 7px;
}
.state-basic-horizontal span:first-child {
    margin-left: 0;
    padding-left: 0;
}
.state-basic-horizontal a, .state-basic-horizontal .state-basic-banner {
    color: #FFFFFF;
}
.state-basic-horizontal .state-basic-banner {
    text-align: center;
}
.state-horizontal li {
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
}
.state-horizontal a:hover {
    text-decoration: none;
}
.state-horizontal li a {
    padding: 5px 20px;
    position: relative;
}
.state-horizontal li, .state-basic-horizontal span {
    border-left: 1px solid #B5B5B5;
    display: inline-block;
    list-style: none outside none;
}
.ie7 .state-horizontal li, .ie7 .state-basic-horizontal span {
    display: inline;
}
.ie7 .state-horizontal li {
    padding-bottom: 2px;
}
.state-horizontal li.state-learning {
    border-left: 0 none;
}
.state-horizontal li:first-child, .state-basic-horizontal li span:first-child, .state-horizontal li:first-child:before {
    border-left: medium none;
}
.state-horizontal li:first-child:after {
    margin-left: -9px;
}
.state-horizontal li > a {
    display: block;
    padding: 5px 20px;
    position: relative;
}
.state-horizontal li.active a, .state-horizontal li a:focus, .state-horizontal li a:hover, .state-horizontal li a.is-active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
}
.state-horizontal li:hover a, .state-horizontal li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.state-horizontal li.active:after, .state-horizontal li.active a:after, .state-horizontal li a.is-active:after {
    border-color: #FFFFFF rgba(13, 56, 128, 0) rgba(13, 56, 128, 0);
    border-left: 10px solid rgba(13, 56, 128, 0);
    border-right: 10px solid rgba(13, 56, 128, 0);
    border-top: 10px solid #FFFFFF;
    bottom: -10px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
    z-index: 3;
}
.state-horizontal li.active:after {
    border-color: #0D3880 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-left: 12px solid rgba(255, 255, 255, 0);
    border-right: 12px solid rgba(255, 255, 255, 0);
    border-top: 12px solid #0D3880;
    margin-left: -0.57em;
    z-index: 1;
}
.ie8 .state-horizontal li a.is-active {
    z-index: 3;
}
.mod-switch .is-selected {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.state-field-indent {
    margin-left: 18px;
}
.state-smallindent {
    margin-left: 9px;
}
.state-smallindent-inner {
    padding-left: 9px;
}
.state-floatright {
    float: right;
}
.state-floatleft {
    float: left;
}
.state-alignright {
    text-align: right;
}
.state-aligncenter {
    text-align: center;
}
.state-inline {
    display: inline-block !important;
    vertical-align: middle;
}
.ie7 .state-inline {
    display: inline !important;
}
.state-clear {
    clear: both;
}
html body .state-clear-fix {
    margin: 0;
    padding: 0;
}
.state-hidden {
    display: none;
}
.is-hidden {
    display: none !important;
    visibility: hidden;
}
.state-push-in {
    margin: 4px 39px 0 0;
}
.state-pull-out {
    margin-left: -18px !important;
}
.state-btn-large {
    border-radius: 12px 12px 12px 12px;
    font-size: 16px;
    padding: 10px;
	border: 5px solid #08224D;
}
.state-btn-medium {
    border-radius: 5px 5px 5px 5px !important;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 10px !important;
    text-shadow: none;
	border: 3px solid #08224D;
}
.state-btn-small {
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
    padding: 2px 11px;
    text-shadow: none;
	border: 1px solid #08224D;
}
.state-btn-disabled {
    background: none repeat scroll 0 0 #E5E5E5 !important;
    color: #A8A8A8 !important;
    cursor: auto !important;
}
.state-sideapply .state-btn-large {
    padding-left: 40px;
    padding-right: 40px;
}
.state-baseapply .state-btn-large {
    margin-left: -4px;
    padding-left: 14px;
    padding-right: 14px;
}
.state-baseapply .express-interest {
    margin-left: -4px;
    padding-left: 17px;
    padding-right: 17px;
}
.state-list-horizontal .ico-saved {
    margin-right: 6px !important;
}
.is-expanded .is-hidden {
    display: block !important;
    visibility: visible;
}
.is-expanded .is-toggle.is-hidden {
    display: none !important;
    visibility: hidden;
}
.is-expanded .mod-field select[multiple] {
    min-height: 91px;
}
.is-expanded .mod-field + .mod-field {
    padding-bottom: 26px;
}
.is-expanded .mod-field label span {
    display: inline-block;
    font-size: 12px;
}
.ie7 .is-expanded .mod-field label span {
    display: inline;
}
.is-expanded .mod-field + .mod-field + .mod-field {
    padding-bottom: 11px;
}
.state-section-page {
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    min-height: 285px;
    position: relative;
}
.state-myaccount-search {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
    color: #1A1A1A;
    padding-bottom: 0;
    padding-top: 0;
}
.state-myaccount-search .column:first-child .mod-field:first-child {
    padding-bottom: 6px;
}
.state-myaccount-search label {
    color: #336600;
    font-size: 13px !important;
}
.state-myaccount-search input[type="search"], .state-myaccount-search select {
    border: 1px solid #CCCCCC;
}
.state-myaccount-search.state-jobmail .mod-show-results {
    display: none !important;
}
.state-searchresults-tools select {
    position: absolute;
    right: 9px;
    top: 9px;
}
.state-searchresults-refine {
    line-height: 18px;
    padding: 18px 18px 0 !important;
    width: 204px;
    min-height:200px;
}
.state-searchresults-refine a{
	display: inline-block;
	width: auto;
	max-width:177px;
	height: 18px;
	overflow: hidden;
	border: none;
	margin:0;
	padding:0;
	vertical-align: bottom;	
	color: #FFFFFF;
}
.state-searchresults-refine a.worktyperefine{
	width: auto;
}
.state-searchresults-refine span{
	border: none;
	margin:0;
	padding:0;
}
.state-searchresults-refine h3 {
    color: #111111;
    margin-bottom: 16px;
}
.state-searchresults-refine dl {
    margin-bottom: 18px;
}
.state-searchresults-refine dt {
    border-bottom: 1px solid #D9D9D9;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 9px;
    padding-bottom: 9px;
}
.state-searchresults-refine select {
    width: 204px;
}
.state-searchresults-refine .more {
    background: none repeat scroll 0 center transparent;
    display: block;
    text-align: right;
}
.state-searchresults-refine .salary-refine {
    padding-bottom: 20px;
    width: auto;
}
.state-searchresults-refine #sliderSalary {
    background-image: url("/content/images/SalarySlider/salary_bar_bg2.png");
    background-position: 0 -41px;
    background-repeat: no-repeat;
    height: 18px;
    margin-left: -4px;
    width: 208px;
}
.state-searchresults-refine #sliderSalary.ticks6 {
    background-position: 0 -8px;
}
.state-searchresults-refine #sliderSalary.ticks10 {
    background-position: 0 -25px;
}
.state-searchresults-refine #sliderSalary.ticks10 .ui-slider-horizontal {
    margin-top: 4px;
}
.state-searchresults-refine #sliderSalary.ticks12 {
    background-position: 0 -41px;
}
.state-searchresults-refine .ui-slider-horizontal {
    border: 0 none;
    height: 11px;
    margin: 6px 0 0 3px;
    position: absolute;
    width: 199px;
}
.state-searchresults-refine .ui-slider-horizontal .ui-slider-handle {
    background: url("/content/images/SalarySlider/salary_bar_handle.png") no-repeat scroll left top transparent;
    display: block;
    height: 16px;
    margin-left: -4px;
    position: absolute;
    top: -1px;
    width: 16px;
    z-index: 2;
}
.state-searchresults-refine .ui-slider-horizontal .ui-slider-handle + .ui-slider-handle {
    margin-left: -6px;
}
.state-searchresults-refine .ui-slider-horizontal .ui-slider-range {
    background: url("/content/images/SalarySlider/salary_bar_bg2.png") no-repeat scroll right top transparent;
    display: block;
    height: 100%;
    min-width: 8px;
    position: absolute;
    top: 3px;
}
.state-searchresults-refine #value {
    display: none;
}
.state-searchresults-refine #values {
    color: #F00A81;
    display: inline-block;
    font-size: 11px;
    text-align: right;
    width: 80px;
}
.state-searchresults-refine .sliderswitch, .state-searchresults-refine .sliderswitch a {
    font-size: 11px;
}
.state-searchresults-refine .slidervalues {
    color: #777777;
    display: block;
    float: left;
    font-size: 10px;
    margin-top: 3px;
    text-align: left;
    width: 102px;
}
.state-searchresults-refine #sliderMaxValue {
    text-align: right;
}
.state-searchresults-refine #noSalaryCheck {
    margin: 0 0 40px;
    padding: 2px 0 0 25px;
    position: relative;
}
.state-searchresults-refine #noSalaryCheck input {
    left: 0;
    position: absolute;
    top: 0;
}
.state-searchresults-refine #noSalaryCheck a {
    position: absolute;
    right: 0;
    top: 27px;
}
.state-searchresults-refine .worktype-refine dd {
    margin-bottom: 6px;
}
.state-searchresults-refine .worktype-refine label {
    color: #111111;
    margin-left: 4px;
	display: inline-block;
    font-size: 13px;
    left: -1px;
    padding-right: 4px;
    position: relative;
    text-align: right;
}
.state-searchresults-title {
    font-size: 24px;
    margin-top: 9px;
	color: #EC0000;
}
.state-has-logo {
    padding-bottom: 70px !important;
}
.state-shortlisted:hover {
    background-color: transparent;
}
.state-premuim-ad .mod-shortlist:hover {
    background-color: #FFFBB0;
}
.state-fixedtobase {
    bottom: 0;
    position: absolute;
}
.state-fixedtobase div {
    line-height: 13px;
    max-height: 25px;
    overflow: hidden;
}
.state-premuim-ad dl {
    background: none repeat scroll 0 0 #FFFDE1;
    border: 1px solid #D5D5D5;
    margin: 0;
}
.state-premuim-ad dd, .state-standout-ad dd {
    padding: 12px 9px 53px;
}
.state-standout-ad dl {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FCFCFC;
    border-color: -moz-use-text-color #D5D5D5 #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin: 0;
}
.state-standout-ad.state-top-result dl {
    border-top: 1px solid #D5D5D5;
}
.state-searchresults-LMISS {
    width: 540px;
}
.state-searchresults-LMISS li {
    width: 300px;
}
.state-searchresults-LMISS .side {
    left: 335px;
}
.state-lighter-callout {
    background: none repeat scroll 0 0 #EC0000 !important;
    border: 1px solid #CACACA !important;
    padding: 0 !important;
}
.state-lighter-callout a {
    color: #111111;
    display: inline-block;
    padding: 12px 9px 9px;
}
.state-lighter-callout a.ico {
    padding: 0;
}
.ie7 .state-lighter-callout a, .ie7 .state-list-stack .state-addnotes-incallout a {
    display: inline;
}
.ie7 .state-list-stack a {
    display: block;
}
.state-lighter-callout a:hover {
    background-color: #CACACA;
    text-decoration: none;
}
.state-lighter-callout a:first-child {
    border-radius: 4px 0 0 4px;
}
.state-lighter-callout i {
    display: inline-block;
    margin-right: 3px;
    margin-top: -4px;
}
.ie7 .state-lighter-callout i {
    display: inline;
}
.state-lighter-callout li a:active, .state-lighter-callout li a:link, .state-lighter-callout li a:visited {
    color: #1A1A1A;
    font-size: 14px;
}
.state-bottom-border {
    border-bottom: 1px solid #DADADA;
}
.state-job-title {
	color: #EC0000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 9px;
    max-width: 460px;
    overflow: hidden;
    word-wrap: break-word;
}
.state-message {
    color: #FFFFFF;
    line-height: 18px;
    padding-bottom: 6px;
}
.state-message p {
    margin-top: 18px;
}
.state-job-ad {
    max-width: 462px;
    overflow: hidden;	
}
.state-list-horizontal {
    margin-bottom: -9px;
    margin-top: 18px;
    padding-left: 0;
    padding-right: 0 !important;
}
.state-list-horizontal a {
    font-size: 14px;
    margin-left: -3px;
    padding: 17px 0 15px 13px;
    width: 128px;
}
.state-list-horizontal a i.ico {
    margin-right: 8px;
}
.state-list-horizontal a:first-child {
    padding-left: 9px;
    width: 136px;
}
.state-list-horizontal a:first-child i.ico {
    margin-left: 1px;
    margin-right: 1px;
}
.state-list-horizontal a.state-printbutton {
    border-radius: 0 4px 4px 0;
    width: 164px;
}
.ie9 .state-list-horizontal a.state-printbutton {
    margin-right: -1px;
}
.state-list-horizontal a.state-printbutton i.ico {
    margin-bottom: -2px;
    margin-left: -4px;
    margin-top: -2px;
}
.state-list-stack {
    font-size: 14px;
    margin-bottom: -9px;
    margin-top: 21px;
}
.state-addnotes {
    width: 460px !important;
}
.state-addnotes .mod-addnotes {
    display: block;
    padding-top: 9px;
}
.state-list-stack a {
    border-top: 1px solid #FFFFFF;
    display: block;
    padding: 10px 9px;
}
.state-list-stack a i.ico {
    margin-left: 2px;
    margin-right: 12px;
}
.state-list-stack a:first-child i.ico {
    margin-right: 9px;
}
.state-list-stack a:first-child {
    border-radius: 4px 4px 0 0;
    border-top: 0 none;
    padding: 14px 9px 12px;
}
.state-list-stack a.state-printbutton {
    border-radius: 0 0 4px 4px;
    padding: 13px 9px 12px;
}
.state-list-stack a.state-printbutton i.ico {
    margin-right: 9px;
}
.state-socialshare {
    margin-top: 28px;
    padding: 0 13px !important;
	min-height: 40px;
	width: 205px;
	margin-left:auto;
	margin-right:auto;
}
.state-socialshare span {
    display: inline-block;
    margin-left: 9px;
    margin-top: 7px;
}
.state-socialshare a.ico {
    margin-left: 18px;
}
.state-socialshare a.ico + a.ico {
    margin-left: 25px;
}
.state-socialshare a:hover {
    background-color: transparent;
}
.state-screenmessage {
    padding-bottom: 0;
    padding-top: 8px;
}
.state-screenmessage .ico {
    margin-bottom: 7px;
}
.state-sideapply .ico {
    display: none !important;
}
.state-sideapply span.state-inline {
    margin-left: 3px;
}
.state-baseapply span.state-inline {
    margin-left: 6px;
    width: 240px;
}
.state-baseapply .mod-help-bubble {
    width: 278px;
}
.state-report-ad {
    display: none;
    margin-bottom: -9px;
    margin-top: 9px;
    padding: 6px 0 !important;
    position: relative;
}
.state-report-ad label {
    margin-top: 9px;
    vertical-align: top;
    width: 152px;
}
.state-report-ad .email-label {
    margin-right: 3px;
}
.state-report-ad input, .state-report-ad select, .state-report-ad textarea {
    margin-bottom: 0;
    margin-top: 9px;
    vertical-align: inherit;
    width: 267px;
}
.ie7 .state-report-ad label, .ie7 .state-report-ad input, .ie7 .state-report-ad select, .ie7 .state-report-ad textarea {
    display: inline;
    vertical-align: top;
}
.state-report-ad select {
    width: 277px;
}
.state-report-ad div {
    margin: 9px 0 9px 158px;
}
.state-addnotes-incallout span span, .state-report-ad div span {
    color: #F00A81;
    font-size: 12px;
    font-weight: bold;
}
.state-addnotes-incallout a, .state-report-ad a {
    border: 0 none;
    color: #0066CC;
    padding: 2px 27px 0 5px;
}
.state-addnotes-incallout a:first-child {
    margin-top: -1px;
    padding: 0 27px 0 5px;
}
.state-addnotes-incallout .btn, .state-report-ad .btn {
    border: 2px solid #E5E5E5;
    margin-right: 9px;
    padding: 5px 10px;
}
.state-addnotes-incallout a:hover, .state-report-ad a:hover {
    background-color: transparent;
}
.state-report-ad .mod-arrow {
    border-bottom-color: #CACACA;
    border-width: 8px;
    left: 134px;
    position: absolute;
    top: -16px;
}
.state-report-ad .mod-arrow .state-arrow-up {
    border-bottom-color: #F5F5F5;
    border-width: 7px;
    left: -7px;
    top: -6px;
}
.state-report-ad-success {
    display: none;
    padding-bottom: 9px;
    text-align: center;
}
.state-addnotes a {
    border-right: 1px solid #FFFFFF;
    width: 203px;
}
.state-addnotes a.state-noright-border {
    border-right: 0 none;
}
.state-addnotes a:first-child {
    border-top-right-radius: 0;
}
.state-addnotes a.state-printbutton {
    border-bottom-right-radius: 0;
}
.state-addnotes .state-addnotes-incallout a {
    width: auto;
}
.state-addnotes .state-addnotes-incallout span a {
    border-right: 0 none;
}
.state-addnotes .add-notes-open {
    border-right: 0 none;
    width: 204px;
}
.state-vertical-LMISS {
    padding: 9px 7px 42px 14px;
    position: relative;
    width: 224px;
}
.state-vertical-LMISS strong {
    display: block;
    width: 150px;
}
.state-vertical-LMISS ul {
    margin-bottom: 2px;
    padding-left: 20px;
    width: 200px;
}
.state-vertical-LMISS ul + ul {
    border-bottom: 1px solid #E3E3E3;
    margin-top: -10px;
}
.state-vertical-LMISS img {
    bottom: 8px;
    left: 16px;
    position: absolute;
}
.state-vertical-LMISS p {
    font-size: 12px;
    margin: 10px 0;
    width: 170px;
}
.state-vertical-LMISS select {
    font-size: 12px;
    margin-left: 0;
    width: 158px;
}
.state-jobdetails-LMISS {
    margin-top: 18px;
}
.state-vertical-LMISS.state-promo-only p {
    margin-top: 0;
}
.state-jobdetails-LMISS ul {
    width: 199px;
}
.state-jobdetails-LMISS select {
    margin-left: 58px;
}
.state-jobdetails-LMISS img {
    display: none;
}
.state-jobdetails-LMISS p {
    margin: 6px 0 0;
    width: auto;
}
.state-appsuccess-LMISS {
    margin: 20px 0 0 -14px;
    width: 541px;
}
.state-appsuccess-LMISS ul li, .state-appsuccesswithpromo-LMISS ul li {
    background-position: 0 -37px;
    margin: 7px 0 9px;
}
.state-appsuccess-LMISS li {
    margin-left: -20px !important;
    padding-left: 20px !important;
}
.state-appsuccess-LMISS select {
    width: 150px;
}
.state-appsuccesswithpromo-LMISS {
    position: absolute;
    right: 18px;
    top: 203px;
    width: 180px;
}
.state-appsuccesswithpromo-LMISS ul {
    width: 155px;
}
.state-appsuccesswithpromo-LMISS select {
    font-size: 11px;
    width: 132px;
}
.state-appsuccesswithpromo-LMISS ul li {
    margin-left: -20px;
    padding-left: 20px;
}
.state-sites-nav {
    background: none repeat scroll 0 0 #404040;
    text-align: center;
}
.state-sites-nav a, .state-subsites-nav li:first-child:hover a {
    color: #FFFFFF;
}
.state-sites-nav li:hover a, .state-sites-nav li.active a, .state-sites-nav a:hover, .state-sites-nav a:focus, .state-sites-nav a.active, .state-subsites-nav li:first-child:hover a.is-active, .state-subsites-nav li:first-child a:hover {
    border-color: #FFFFFF;
}
.state-sites-nav li:hover:after, .state-sites-nav li.active:after {
    border-top-color: #FFFFFF;
    bottom: -12px;
    margin-left: -11px;
}
.state-sites-nav .state-subsites-nav {
    margin-bottom: 3px;
    padding: 0;
}
.state-subsites-nav li a {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid transparent;
    border-radius: 5px 5px 5px 5px;
    margin-left: 3px;
    padding: 3px 20px;
}
.state-subsites-nav .state-jobs a:after {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #FFFFFF;
    bottom: -8px;
    content: "";
    height: 0;
    left: 47px;
    position: absolute;
    width: 0;
    z-index: 1;
}
.state-subsites-nav .state-jobs .is-active:after {
    border-top-color: #0D3880;
}
.state-subsites-nav a {
    display: inline-block;
    font-size: 12px;
}
.ie7 .state-subsites-nav a {
    display: inline;
}
.state-subsites-nav a.is-active {
    color: #464646;
}
.state-subsites-nav .state-jobs .is-active {
    background-color: #0D3880;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.state-subsites-nav .state-learning a:hover {
    background-color: #50B848;
}
.state-subsites-nav .state-commercial a:hover {
    background-color: #00A9E0;
}
.state-subsites-nav .state-volunteer a:hover {
    background-color: #FB1313;
}
.state-main-nav {
    background: none repeat scroll 0 0 #0D3880;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0;
}
.ie7 #Header {
    text-align: center;
}
.ie7 .state-main-nav {
    margin: 0;
    text-align: left;
}
.state-main-nav ul > li {
    border-left: 1px solid #061C40;
    padding: 5px 0 5px 5px;
}
.state-main-nav ul > li:before {
    border-left: 1px solid #4A6AA0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
}
.state-main-nav li > a {
    color: #FFFFFF;
    padding: 5px 35px;
}
.state-main-nav li:hover a, .state-main-nav li.active a, .state-main-nav a:hover, .state-main-nav a:focus, .state-main-nav a.active {
    color: #111111;
}
.state-indent-arrow:before {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #90A4C4;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: 23px;
    left: -18px;
    position: absolute;
    top: -15px;
    width: 12px;
}
.state-indent-arrow:after {
    border-bottom: 3px solid transparent;
    border-left: 3px solid #90A4C4;
    border-top: 3px solid transparent;
    content: "";
    height: 0;
    left: -7px;
    position: absolute;
    top: 5px;
    width: 0;
}
.state-search-assist {
    border: 1px solid #D5D5D5;
    line-height: 18px;
    padding-top: 9px;
}
.state-search-assist h3 {
    color: #F00A81;
    font-weight: normal;
}
.state-search-assist dt {
    color: #336600;
}
.state-btn-cta{
	color:#fff!important;
	background:#EC0000;
	/**
	background:-moz-linear-gradient(top,#EC0000 0,#CB0000 51%,#BB1010 52%,#A91010 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#EC0000 ),color-stop(51%,#CB0000 ),color-stop(52%,#BB1010 ),color-stop(100%,#A91010 ));
	background:-webkit-linear-gradient(top,#EC0000 0,#CB0000 51%,#BB1010 52%,#A91010 100%);
	background:-o-linear-gradient(top,#EC0000 0,#CB0000 51%,#BB1010 52%,#A91010 100%);
	background:-ms-linear-gradient(top,#EC0000 0,#CB0000 51%,#BB1010 52%,#A91010 100%);
	background:linear-gradient(top,#EC0000 0,#CB0000 51%,#BB1010 52%,#A91010 100%);
	**/
		-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;
		-webkit-box-shadow:inset 1px 1px 3px #EC0000 ;-moz-box-shadow:inset 1px 1px 3px #EC0000 ;box-shadow:inset 1px 1px 3px #EC0000 
}
.ie7 .state-btn-cta {
    padding-bottom: 6px;
}
.state-btn-cta:hover{
	/**
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#EC0000 ),color-stop(52%,#BB1010 ),color-stop(100%,#EC0000 ));
	background:-webkit-linear-gradient(top,#EC0000 0,#BB1010 52%,#EC0000 100%);
	background:-moz-linear-gradient(top,#EC0000 0,#BB1010 52%,#EC0000 100%);
	background:-ms-linear-gradient(top,#EC0000 0,#BB1010 52%,#EC0000 100%);
	background:-o-linear-gradient(top,#EC0000 0,#BB1010 52%,#EC0000 100%);
	background:linear-gradient(top,#EC0000 0,#BB1010 52%,#EC0000 100%);
	**/
		-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box
}
.ie7 .state-btn-cta:hover, .ie8 .state-btn-cta:hover, .ie9 .state-btn-cta:hover {
    background: #EC0000 repeat scroll 0 -48px transparent;
	text-decoration: none;
}
.state-btn-cta.inpage, .state-btn-cta.express-interest, .state-btn-cta.in-callout {
    border-color: #E5E5E5;
    box-shadow: none;
}
.state-btn-cta.native {
    text-align: center;
}
.state-sideapply .express-interest {
    padding-left: 44px;
    padding-right: 43px;
}
.state-btn-cta.express-interest {
    font-size: 16px;
}
.state-footer-nav {
    background: none repeat scroll 0 0 #404040;
}
.state-footer-nav h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
}
.state-footer-nav a {
    font-size: 12px;
}
.state-footer-nav h5, .state-footer-nav a {
    color: #FFFFFF;
}
.state-footer-nav ul, .state-footer-nav li, .state-footer-nav span {
    border-color: #9B9B9B;
    color: #9B9B9B;
}
.state-footer-nav ul:first-child {
    display: none;
}
.state-learning, .state-learning p {
    background: none repeat scroll 0 0 #7EB276;
    color: #FFFFFF;
}
.state-learning li {
    margin: 4px 0 !important;
    padding-left: 12px;
}
.state-learning li:before {
    border-bottom: 5px solid transparent;
    border-left: 8px solid #FFFFFF;
    border-top: 5px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 2px;
    width: 0;
}
.state-mini-search.is-collapsed .grid_4 {
    width: 28.01%;
}
.state-mini-search.is-collapsed label {
    display: none;
}
.ie7 .state-mini-search.is-collapsed .mod-submit-search {
    max-height: 30px;
}
.state-mini-search.is-collapsed .mod-submit-search p {
    position: absolute;
    right: 37px;
    top: 60px;
}
.ie7 .state-mini-search.is-collapsed .mod-submit-search p {
    right: 20px;
}
.state-mini-search.is-collapsed .mod-submit-search input {
    right: 28px;
    top: 28px;
}
.ie7 .state-mini-search.is-collapsed .mod-submit-search input {
    margin-top: -125px;
    position: static;
    right: auto;
    top: auto;
}
.state-mini-search.is-collapsed .mod-options-trigger:after {
    content: "More options";
    display: block;
    font-weight: bold;
}
.state-mini-search.is-collapsed .mod-options-trigger strong, .state-mini-search.is-collapsed .mod-submit-search .ico {
    display: none;
}
.ie7 .state-mini-search.is-collapsed .mod-options-trigger strong {
    display: inline;
}
.state-mini-search.is-collapsed .mod-field > .mod-field {
    width: 41.38%;
}
.ie7 .state-mini-search.is-collapsed .mod-field > .mod-field {
    width: 39.38%;
}
.state-mini-search.is-collapsed #salaryMessageLabel {
    display: none;
}
.state-mini-search.is-collapsed .mod-field {
    min-height: inherit;
}
.is-expanded .mod-field + .mod-field.mod-salary-search {
    max-height: 67px;
    padding-bottom: 9px;
}
.state-mini-search.is-collapsed .mod-salary-search {
    max-height: 29px;
}
.state-townsville-search {
    position: absolute;
    right: 15px;
    top: 36px;
    width: auto !important;
}
.townsville-banner {
    background: url("/content/images/other/bg-townsville_banner.png") no-repeat scroll 5px 0 transparent;
    height: 251px;
    margin-top: -8px !important;
    padding-top: 28px !important;
    position: relative;
    top: 8px;
}
.townsville-banner h1 {
    background: url("/content/images/other/bg-townsville_banner_pointer1.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 39px;
    margin: 0 0 0 14px;
    padding: 10px 0 84px 16px;
}
.townsville-banner h1 strong {
    font-style: italic;
    font-weight: bold;
}
.townsville-banner h2 {
    color: #F00A81;
    font-size: 18px;
    font-weight: normal;
}
.townsville-banner ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 6px solid #8F8D88;
    border-radius: 16px 16px 16px 16px;
    margin: 0 12px 0 18px;
    min-height: 58px;
    padding: 0 0 0 14px;
}
.townsville-headings {
    color: #F00A81;
    font-size: 22px;
    font-weight: bold;
}
.townsville-banner li {
    display: inline-block;
    height: 58px;
    vertical-align: middle;
    width: 234px;
}
.townsville-banner li:first-child {
    width: 219px;
}
.townsville-banner li span {
    background: url("/content/images/other/bg-pink_banner.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    height: 60px;
    padding: 18px 0 0;
    position: relative;
    text-align: center;
    top: -14px;
    width: 88px;
}
.townsville-banner li p {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
}
.townsville-banner li a {
    font-weight: bold;
}
.townsville-aboutseek-slot2 {
    height: 130px;
    margin-right: -38px;
    margin-top: -30px;
}
.townsville-aboutseek-slot2 span {
    display: inline-block;
    font-style: normal;
    margin: -8px 0 0 10px;
    padding: 0;
    position: absolute;
    width: 107px;
}
.townsville-aboutseek-slot2 span i {
    color: #F00A81;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}
.townsville-grey-seperator-top {
    border-top: 1px solid #E4E4E4;
    margin-top: 0;
    padding-top: 10px;
}
.townsville-grey-seperator-right {
    border-right: 1px solid #E4E4E4;
    display: block;
    height: 100%;
    padding-right: 10px;
}
.townsville-hiring-tiles {
    margin-bottom: 0;
}
.townsville-hiring-tiles li {
    height: 238px;
}
.townsville-base-tiles li i {
    display: inline-block;
    font-style: normal;
    padding: 27px 0 0 22px;
    position: absolute;
}
.mod-field label {
    font-size: 14px;
    position: static;
    text-align: left;
}
#Divider {
    background: none repeat scroll 0 center transparent;
    height: 0;
    margin-bottom: -16px;
    width: 0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DADADA -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
}
.home-index {
    background: none repeat scroll 0 center transparent;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.content {
    margin-right: 0;
    padding: 0;
}
#bodyContainer {
    background: none repeat scroll 0 0 #EFEFEF;
}
#FrameContainer #bodyContainer {
    background: none repeat scroll 0 center transparent;
}
.state-sites-nav, .state-footer-nav, #bodyContainer {
    background-image: url("/content/images/bg-noise_pattern.png");
}
body > img {
    position: absolute;
}
.mod-search-form input, .mod-search-form select {
    margin: 0;
}
#promotions, #promotions dd:first-child {
    margin-left: 0;
}
#promotions {
    margin-bottom: 18px;
    padding: 18px 0 12px;
}
#BrowseJobs dd {
    padding-right: 0;
    width: 100%;
}
p, ul, ol, dl {
    margin-bottom: 9px;
}
.home-index .more {
    padding-right: 0;
    text-align: right;
    width: auto;
}
.joblisting-index .seeker-frame, #AdDetailsDiv + div {
    width: auto;
}
#toolbar {
    left: 20px;
    position: absolute;
    top: 80px;
    width: 91.2%;
}
.jobapply-apply {
    padding-bottom: 27px;
}
.jobapply-apply .p1 {
    margin-bottom: 0;
    width: 450px;
}
.jobapply-apply ol, .jobapply-apply ul {
    list-style: none outside none;
}
.jobapply-submitted #application-sent {
    border-radius: 7px 7px 0 0;
    margin-top: -18px;
}
.jobapply-submitted .grey-line-seperator {
    margin: 0 -32px;
}
.jobapply-submitted .dotted-line-seperator {
    margin: 44px -32px 0;
}
.jobapply-submitted #application-sent h1 {
    margin-top: 12px;
}
.jobapply-submitted .has-JAPU, .jobapply-submitted #profilePreview {
    margin-left: 0;
}
.jobapply-submitted #profileInsights {
    margin-right: -160px;
    width: 559px;
}
.jobapply-submitted #profileInsights span.large-letters {
    min-width: 40px;
}
.jobapply-submitted #profileInsights span.search-count {
    margin-left: 9px;
}
.jobapply-submitted #profileInsights #createProfileButton {
    margin-left: 0;
    margin-top: 9px;
}
.jobs-resources {
    padding-top: 9px;
    position: relative;
}
.jobs-resources .support-panel {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 center transparent;
    border-color: -moz-use-text-color #50B848 #50B848;
    border-right: 1px solid #50B848;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.investor, .if-it-exists {
    position: relative;
}
#bodyContainer.onsite.joblisting-index {
    width: 702px;
}
.onsite.jobsearch-index h1 {
    font-size: 26px;
}
.onsite .mod-job-details label, .onsite .arrow {
    display: block;
}
.onsite .grid_6 + .grid_6 {
    width: 222px;
}
.onsite .state-sideapply .mod-help-bubble {
    margin-left: 0;
    width: 208px;
}
.onsite .state-sideapply .mod-help-bubble .state-arrow-help-bubble {
    border-bottom-color: #DADADA;
    border-right-color: transparent;
    left: 100px;
    top: -12px;
}
.onsite .state-sideapply .mod-help-bubble .mod-arrow-inner {
    border-bottom-color: #FFFFFF;
    border-right-color: transparent;
    left: -5px;
    top: -3px;
}
.state-mini-search.salaryDisabled.is-collapsed #salaryMessageLabel {
    display: none;
}
.jobmail-profile-pages.frame {
    margin: 27px 18px;
}
.jobmail-profile-pages.frame li label {
    display: block;
    margin-bottom: 9px;
    text-align: left;
}
.jobmail-profile-pages.frame input#Name {
    display: block;
    margin-bottom: 0;
    width: 340px;
}
.jobmail-profile-pages.frame li + li label {
    margin-top: 18px;
}
.jobmail-profile-pages.frame fieldset dl {
    width: 300px;
}
.jobmail-profile-pages.frame fieldset dt {
    font-weight: bold;
    width: 140px;
}
.jobmail-profile-pages.frame fieldset dt, .jobmail-profile-pages.frame fieldset dd {
    display: inline-block;
    padding-bottom: 4px;
}
.body-myaccount-screenformanswers ol {
    padding-left: 17px;
}
.body-myaccount-screenformanswers .myaccount-screenformanswers li {
    list-style: decimal outside none;
    margin-bottom: 8px;
}
.body-myaccount-screenformanswers label {
    display: block;
    text-align: left;
    width: 460px;
}
.body-myaccount-screenformanswers dt {
    color: #336600;
}
.body-myaccount-screenformanswers dd {
    margin-bottom: 3px;
}
.body-myaccount-screenformanswers dd label {
    display: inline-block;
    padding-left: 5px;
}
.body-myaccount-screenformanswers dd textarea {
    width: 400px;
}

[id*="searchBoxContainer"] {
    background: none repeat scroll 0 0 #EC0000;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
	text-align:left;
	font-family: Helvetica,Arial,sans-serif;
}
.advancedSearch {
    height: 345px;
}
.miniSearch {
    height: 63px;
}
.quickSearch {
    height: 170px;
}
.searchBox {
    color: #FFFFFF;
    height: 100%;
}
[id*="searchBoxContainer"] .sb-side-left, [id*="searchBoxContainer"] .sb-side-right {
    background-color: #0051D6;
}
[id*="searchBoxContainer"] .sb-btm-spacer {
    background: none repeat scroll 0 0 #FF3333;
}
[id*="searchBoxContainer"] [class^="sb-"], .sbc-subclassification, .sbc-area {
    background-image: url("/content/images/layout/searchbox-bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}
[id*="searchBoxContainer"] [class*="-top"] {
    height: 25px;
    top: 0;
    width: 3px;
}
[id*="searchBoxContainer"] [class*="-btm"] {
    bottom: -25px;
    height: 25px;
    width: 3px;
}
[id*="searchBoxContainer"] [class*="-right"] {
    right: 0;
}
[id*="searchBoxContainer"] [class*="-left"] {
    left: 0;
}
[id*="searchBoxContainer"] [class*="-spacer"] {
    width: 100%;
}
[id*="searchBoxContainer"] .sb-top-spacer {
    z-index: -1;
}
[id*="searchBoxContainer"] .sb-top-left {
    background-position: -80px -30px;
}
[id*="searchBoxContainer"] .sb-top-right {
    background-position: -110px -30px;
}
[id*="searchBoxContainer"] .sb-btm-right {
    background-position: -110px -60px;
}
[id*="searchBoxContainer"] .sb-btm-spacer {
    background-position: 0 bottom;
    z-index: -1;
}
[id*="searchBoxContainer"] .sb-btm-left {
    background-position: -80px -60px;
}
[id*="searchBoxContainer"] .sb-side-left, [id*="searchBoxContainer"] .sb-side-right {
    background-position: -994px bottom;
    border-left: 1px solid #00007F;
    border-right: 1px solid #0000BE;
    bottom: 0;
    height: 100%;
    top: 25px;
    width: 1px;
}
[id*="searchBoxContainer"] .sb-side-right {
    border-left: 1px solid #0000BE;
    border-right: 1px solid #00007F;
}
[class^="sbc-"] {
    position: absolute;
    width: 252px;
}
.sbc-keywords {
    left: 21px;
    top: 18px;
}
.sbc-classification {
    left: 288px;
    top: 18px;
}
.sbc-function, .sbc-location {
    left: 568px;
    top: 18px;
}
.sbc-subclassification {
    left: 288px;
    top: 60px;
}
.sbc-area {
    left: 568px;
    top: 60px;
}
.sbc-worktype {
    left: 21px;
    top: 145px;
}
.sbc-date {
    left: 21px;
    top: 203px;
}
.sbc-salary {
    left: 21px;
    top: 70px;
}
.sbc-buttons {
    left: 15px;
    top: 135px;
    width: 100%;
}
.salaryDisabled [id*="salaryfrom"], .salaryDisabled [id*="salarytolabel"], .salaryDisabled [id*="salaryto"], [id*="salaryDisabled"], .quickSearch #AdvSearch, .quickSearchTop, .quickSearch .quickSearchBottom, .quickSearch #unspecLabel, .quickSearch .multiselect, .quickSearch #PostCodeButton, .quickSearch .moresearchtips, .quickSearch .pcsearch, .quickSearch [id*="salaryMessageLabel"], .quickSearch .sbc-worktype, .quickSearch .sbc-date, .miniSearch .quickSearchBottom, .miniSearch #AdvSearch, .miniSearch #bottomAdvSearch, .miniSearch .moresearchtips, .miniSearch .multiselect, .miniSearch #unspecLabel, .miniSearch .searchBox label, .miniSearch .pcsearch, .miniSearch [id*="salaryMessageLabel"], .miniSearch .sbc-buttons p, .miniSearch .sbc-worktype, .miniSearch .sbc-date, .advancedSearch [id*="SearchButton"], .advancedSearch .adv-search-link, .advancedSearch .sbc-buttons p, .salaryDisabled #salaryLabel, #salaryMessageLabel {
    display: none;
}
.sbc-subclassification, .sbc-area {
    background-position: -1995px -32px;
    padding-left: 20px;
    padding-top: 10px;
    width: 245px;
}
.searchBox label {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
    text-align: left;
}
.searchBox input, .searchBox select {
    font-size: 11px;
}
.searchBox input {
    width: 241px;
}
.searchBox #Keywords {
    height: 17px;
}
.searchBox select {
    width: 251px;
}
.sbc-salary select {
    width: 115px;
}
.sbc-subclassification select, .sbc-area select {
    width: 244px;
}
.sbc-classification select, .sbc-location select, .sbc-function select {
    width: 264px;
}
a.adv-search-link, a.quickSearchBottom {
    color: #FFFFFF;
    font-weight: bold;
}
.searchbox a.adv-search-link {
    background-position: 5px -1971px;
    padding-left: 15px;
}
.sbc-buttons p {
    padding-left: 15px;
}
#AdvSearch, #bottomAdvSearch, [id*="SearchButton"] {
    bottom: 0;
    left: 747px;
    position: absolute;
}
[id*="SearchButton"] input {
    width: auto;
}
.searchBox .moresearchtips {
    position: absolute;
    right: 0;
    top: 3px;
}
.searchBox .multiselect {
    bottom: -13px;
    left: 20px;
    position: absolute;
}
.searchBox [id*="unspecLabel"] {
    bottom: -10px;
    font-weight: normal;
    left: 20px;
    position: absolute;
}
.searchBox [id*="unspecLabel"] .unspecArea {
    margin-top: -2px;
    vertical-align: middle;
    width: auto;
}
[id*="salarytolabel"] {
    margin: 0 2px 0 3px;
    vertical-align: middle;
}
.salaryDisabled [id*="salaryDisabled"], .salaryDisabled #salaryMessageLabel {
    display: block;
}
.salaryDisabled [id*="salaryDisabled"] {
    margin-bottom: -15px;
}
.salaryDisabled #salaryMessageLabel {
    font-size: 14px;
}
.quickSearch .sbc-subclassification label, .quickSearch .sbc-area label, .quickSearch .sbc-salary label, .quickSearch .sbc-worktype label {
    font-size: 12px;
}
.advancedSearch .sbc-subclassification, .advancedSearch .sbc-area {
    top: 127px;
}
.advancedSearch .sbc-salary {
    top: 77px;
}
.advancedSearch .sbc-worktype {
    top: 137px;
}
.advancedSearch .sbc-date {
    top: 265px;
}
.advancedSearch .sbc-buttons {
    top: 327px;
}
.advancedSearch .quickSearchBottom {
    background-position: 5px -1971px;
    padding-left: 20px;
}
.advancedSearch [id*="salaryMessageLabel"] {
    color: #CCCCCC;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 38px;
    z-index: 5;
}
.advancedSearch .moresearchtips, .advancedSearch .multiselect, .advancedSearch [id*="unspecLabel"], .advancedSearch [id*="PostCodeButton"] {
    color: #FFFFFF;
    font-size: 10px;
}
.miniSearch .grad-search-link {
    background: none repeat scroll 0 center transparent;
    color: #FFFFFF;
}
.miniSearch .sbc-keywords, .miniSearch .sbc-function, .miniSearch .sbc-classification, .miniSearch .sbc-location {
    top: 15px;
}
.miniSearch .sbc-subclassification, .miniSearch .sbc-area {
    top: 40px;
}
.miniSearch .sbc-worktype {
    top: 90px;
}
.miniSearch .sbc-date {
    top: 65px;
}
.miniSearch .sbc-salary {
    top: 50px;
}
.miniSearch .sbc-buttons {
    height: 100%;
    left: 840px;
    top: 17px;
    width: 140px;
}
.miniSearch [id*="SearchButton"] {
    bottom: auto;
    left: 0;
    top: 25px;
}
.miniSearch [id*="SearchButton"] input {
    font-size: 12px;
    height: 27px;
}
.miniSearch a.adv-search-link, a.adv-search-link {
    background-position: 5px -1334px;
    padding-left: 15px;
}
[id*="PostCodeSearch"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 4px 4px 4px #A2A2A2;
    display: none;
    left: -1px;
    padding: 0 15px 10px;
    position: absolute;
    top: 26px;
    width: 234px;
    z-index: 100;
}
#PostCodeButton {
    z-index: 100;
}
[id*="PostCodeSearch"] [id*="PostCodeResults"] {
    display: none;
    position: relative;
    z-index: 50;
}
[id*="PostCodeSearch"] [id*="PostCodeResults"] h4 {
    color: #000000;
    font-weight: bold;
    margin: 8px 0 4px;
}
[id*="PostCodeSearch"] [id*="PostCodeNoResults"] {
    display: none;
    font-weight: bold;
    margin: 8px 0 4px;
    position: relative;
    z-index: 50;
}
[id*="PostCodeSearch"] [id*="PostCodeResults"] a {
    position: relative;
}
[id*="PostCodeSearch"] [id*="PostCodeForm"] label {
    color: #336600;
    font-weight: normal;
    margin: 4px;
    width: auto;
}
[id*="PostCodeSearch"] [id*="PostCodeForm"] small {
    display: block;
    top: 0;
}
[id*="PostCodeSearch"] [id*="PostCodeForm"] input[name*="PostCode"] {
    border: 1px solid #CCCCCC;
    margin: 0 0 0 3px;
    padding: 1px 2px;
    width: 120px;
}
[id*="PostCodeSearch"] [id*="PostCodeSubmit"] {
    bottom: 0;
    display: inline-block;
    float: none;
    position: relative;
    right: 0;
    z-index: 50;
}
[id*="PostCodeSearch"] #ResultDetails li {
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
[id*="PostCodeSearch"] #ResultDetails li a {
    float: none;
}
a[id*="ClosePostcode"] {
    position: absolute;
    right: 6px;
    top: 12px;
}
[id*="PostCodeSearch"] h2 {
    color: #F00A81;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 16px;
}
.searchBox [id*="PostCodeButton"] {
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 13px;
}
.browse-search a[id*="ClosePostcode"] {
    float: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.jobsearch-browse [id*="PostCodeSearch"] [id*="PostCodeSubmit"] {
    bottom: 0;
    position: relative;
    right: 0;
}
.jobmail-profile-pages [id*="searchBoxContainer"] [class^="sb-"] {
    display: none;
}
.jobmail-profile-pages .searchBox .moresearchtips, .jobmail-profile-pages .searchBox [id*="PostCodeButton"] {
    color: #0066CC;
    top: 12px;
}
.jobmail-profile-pages .searchBox [id*="PostCodeButton"] {
    top: 17px;
}
.jobmail-profile-pages .searchBox .multiselect, .jobmail-profile-pages .searchBox [id*="salarytolabel"] {
    color: #000000;
}
.jobmail-profile-pages .searchBox #unspecLabel {
    font-size: 10px;
}
.jobmail-profile-pages .advancedSearch [id*="salaryMessageLabel"] {
    color: #000000;
    top: 48px;
}
.jobmail-profile-pages .searchBox #Keywords {
    width: 254px;
}
.jobmail-profile-pages .sbc-buttons {
    display: none;
}
.jobmail-profile-pages .sbc-keywords {
    left: 1px;
    top: 0;
    width: 265px;
}
.jobmail-profile-pages .sbc-classification, .jobmail-profile-pages .sbc-function {
    left: 1px;
    top: 65px;
}
.jobmail-profile-pages .sbc-subclassification {
    left: 1px;
    padding-top: 5px;
    top: 185px;
}
.jobmail-profile-pages .sbc-location {
    left: 295px;
    top: 65px;
}
.jobmail-profile-pages .sbc-area {
    left: 295px;
    padding-top: 5px;
    top: 185px;
}
.jobmail-profile-pages .sbc-worktype {
    left: 1px;
    top: 325px;
}
.jobmail-profile-pages .sbc-worktype select {
    width: 264px;
}
.jobmail-profile-pages .sbc-date {
    left: 295px;
    top: 385px;
}
.jobmail-profile-pages .sbc-salary {
    left: 295px;
    top: 325px;
}
.jobmail-profile-pages .mod-submit-search {
    display: none;
}
.jobmail-profile-pages.jobmail .sbc-date {
    display: none;
}
.Main .myaccount-createnewjobmail .classificationQuestion span span {
    margin: 0;
}
.Main .myaccount-createnewjobmail .classificationQuestion strong {
    color: #F00A81;
    font-weight: normal;
}
.jobmail-profile-pages.savedsearch .classificationQuestion {
    top: 148px;
}
.onsite #AdvSearchLink, .onsite .sbc-subclassification, .onsite .sbc-salary, .onsite .sbc-buttons p {
    display: none;
}
.onsite .sbc-worktype {
    display: block;
    left: 21px;
    top: 122px;
}
.onsite .sbc-classification {
    left: 21px;
    top: 70px;
}
.onsite .sbc-classification select {
    width: 251px;
}
.onsite .sbc-location {
    left: 290px;
    top: 18px;
}
.onsite .sbc-area {
    left: 290px;
    top: 60px;
}
.onsite .sbc-buttons {
    top: 167px;
}
.onsite #SearchButton {
    left: 471px;
}
.highpayingjobs-index .sbc-classification, .highpayingjobs-index .sbc-subclassification {
    left: 300px;
}
.highpayingjobs-index .sbc-location, .highpayingjobs-index .sbc-area {
    left: 600px;
}
.highpayingjobs-index #AdvSearch, .highpayingjobs-index [id*="SearchButton"] {
    left: 780px;
}

.seeker-frame{width:480px}
.f-tp,.f-bm,.f-bm-space{width:442px}
.content{padding:15px 19px 25px 20px}
.support-panel{width:485px;right:-500px;padding-left:25px;background-color:#fff;top:15px;min-height:400px}
.jobapply-apply .content{width:430px}
.jobapply-apply .support-panel{right:32px}
.jobapply-apply fieldset{margin-bottom:15px;position:relative}
.jobapply-apply legend{color:#f00a81;margin-bottom:8px}
.jobapply-apply input[type="text"]{height:18px;margin-top:8px;width:185px}
.jobapply-apply h1{font-size:24px;font-weight:bold;color: #EC0000;}
.jobapply-apply li{margin-bottom:6px}
.jobapply-apply .content-preview{margin-top:27px}
.jobapply-apply .content-preview ul{margin-bottom:0}
.jobapply-apply .content-preview li{margin-bottom:0}
.jobapply-apply .content-preview h3{margin-left:3px}
.jobapply-apply input[type="radio"],.jobapply-apply input[type="checkbox"]{position:relative;top:2px}
.jobapply-apply input[type="file"]{margin:8px 0 0 17px;display:inline-block}
.jobapply-apply input[type="file"]+small{display:block;margin:2px 0 0 17px}
.jobapply-apply #CoverLetter small,.jobapply-apply #Resume small,.jobapply-apply #SelectionCriteria small{display:block;margin-left:17px}
#StoreCoverLetter,#StoreResumeCheckbox{margin-left:17px}
#ResumeUploadSize,#CoverLetterUploadSize,#SelectionCriteriaUploadSize{display:inline-block;width:140px;background-position:4px -209px;padding:2px 2px 2px 20px}
.jobapply-apply small{font-size:11px}
.jobapply-apply li ul{margin:8px 0 12px 24px}
.jobapply-apply select{width:400px;margin-top:8px}
.jobapply-apply .invalid ul{padding:8px 0 0 17px}
.jobapply-apply .invalid li{list-style:disc;margin-bottom:2px}
.jobapply-apply input[type="text"],.jobapply-apply select{margin:0}
.body-jobapply-apply #Header{z-index:3}
#JustRegisteredMessage,#EmailedLoginMessage{display:none;position:absolute;top:-78px;left:202px;z-index:5}
#ContactDetails label,#EligibilityQuestions label{display:block;text-align:left;color:#360}
#ContactDetails .send-copy,#EligibilityQuestions input[type="radio"]+label{color:#1A1A1A;display:inline-block}
.p1{display:inline-block}
#ContactDetails select{width:94px;display:inline-block;margin:0 5px 10px 0}
#ContactDetails ul.p1 .send-copy{color:#444}
#CoverLetter li{margin-bottom:10px}
#ContactDetails #Email{display:block;margin-bottom:-2px}
#ContactDetails li{width:205px;display:inline-block}
#ContactDetails #PhoneNumber{width:90px}
#ContactDetails input[type="checkbox"]{top:8px}
#ContactDetails .send-copy{top:6px}
#CoverLetter textarea,#SelectionCriteria textarea{margin:8px 0 7px 16px;width:330px}
#Resume legend,#SelectionCriteria legend{margin-bottom:0;height:20px}
#Resume ul,#SelectionCriteria ul{margin-top:-12px}
#Resume #StoredResume{margin-top:8px}
p.form-submit{margin-bottom:25px}
#OldResumeInfoLink.show,.oldResumeInfo{border:1px solid #d9ddf9;padding:1px 6px 1px 14px;background-color:#f5fbff}
#OldResumeInfoLink{margin-left:20px;margin-top:5px;padding-left:15px;display:block;padding-top:2px;width:180px}
.oldResumeInfo{display:none;width:325px;padding:4px 6px;position:relative;top:-1px}
.content-preview h3{color:#06C;text-align:left;vertical-align:bottom;font-weight:normal;font-size:13px}
.content-preview h4{font-weight:bold}
.content-preview h3,.content-preview dl{width:225px;display:inline-block}
.content-preview dl{position:relative;font-size:13px;text-align:right;margin-bottom:8px;padding-left:8px}
.content-preview dt{color:#f00a81;font-weight:bold}
#EligibilityQuestions{margin-bottom:10px}
#EligibilityQuestions li ul{margin-left:10px}
#EligibilityQuestions li ul label{padding-left:3px}
#EligibilityQuestions .other{position:relative;top:-2px}
#EligibilityQuestions .other label{display:inline;font-style:italic;color:#666;padding-right:5px}
#EligibilityQuestions .other input{margin:0}
#EligibilityQuestions textarea{width:400px}
#EligibilityQuestions label+small{margin:4px 2px;display:block}
#EligibilityQuestions textarea+small{float:right;position:relative;top:-10px;right:10px}
.videoembed,#VideoJobAd{display:block;height:310px;padding:5px 0;text-align:center;width:100%}
#jobadControl .videoembed{border:1px solid #ccc}
#AdDetailsDiv{min-height:560px}
.jobtitle,.subheading,.details,#AdDetailsDiv ul.templatebulletnormal,#AdDetailsDiv ul.templatebullet{color:red;word-wrap:break-word}
ul.templatebulletnormal,.templatetext,#AdDetailsDiv p{font-size:10pt;font-weight:normal;word-wrap:break-word}
.jobtitle{font-size:20pt;font-weight:bold}
.subheading{font-size:15pt;font-weight:bold}
ul.templatebullet{font-size:9pt;font-weight:bold}
.templatetext li,.templatebullet li,.templatebulletnormal li,#AdDetailsDiv table ul li{list-style-position:outside;list-style:disc;margin-left:14px}
.templatetext ul,.templatetext ol{margin-top:8px}
.templatetext ol li,#AdDetailsDiv table ol li{list-style-position:outside;list-style:decimal;margin-left:20px}
.details{font-size:8pt;font-weight:normal;word-wrap:break-word}
#AdDetailsDiv blockquote,.tempmargin{margin:0 30px;padding:10px 0}
ul.templatebullet{margin:0 0 0 40px;padding:10px 0}
.no-results h1 i{color:red;font-style:normal}
.no-results .spelling{font-size:16px}
.no-results .why-nothing{border:1px solid #d6d6d6;border-radius:6px;background-color:#f7f7f7;padding:10px 25px 20px;margin-top:20px}
.no-results h2{color:#000;margin-top:8px;font-size:18px}
.no-results ol{list-style-type:decimal;font-weight:bold;font-size:18px;margin-left:23px}
.no-results ol p{font-weight:normal;font-size:14px}
.no-results li{list-style:decimal;padding:2px 2px 12px 0}
.no-results .grey-btn-lge strong{color:#000;font-size:14px}
.no-results .grey-btn-lge strong img{vertical-align:middle;margin-right:10px}
.no-results [class*="btn-"]{
	display: block;	
	text-align:center;
	position:relative;
	width:303px;
	color:#797979;
	height:auto;
	font-weight:normal;
	font-size:12px;
	border:0;
	vertical-align:middle;
	padding:10px;
	margin:0;
	background:url(images/grey-btn.png) no-repeat;
	cursor:pointer
}
.no-results [class*="btn-lge"]{background-position:0 0;padding-left:8px}
.no-results [class*="btn-lge"] strong{
	font-size:16px;
	line-height:20px;
	height:auto;	
	width:auto;
	font-weight:bold
}
.no-results [class*="btn-lge"]:hover{
	background-position:0 -52px; 
	text-decoration:none;
}
.no-results [class*="btn-lge"]:hover strong{background-position:right -46px}